{% if copyright_text %}
<div class="copyright">
  <div class="container">
    <div class="row">
      <!-- Copyright -->
      <div class="col-sm-12 col-md-12">
        {% if copyright_text %}        
          <p>{{copyright_text}}</p>        
        {% endif %}
      </div>
      <!-- End Copyright -->
    </div>
  </div>
</div>
{% endif %}