<div class="notifi-sec">
<a href="/events/city-tour-2018-cloned-1"><div class="niticy_inner_box">
<div class="tex_noti">
<p>Jul 12, 2018</p>
<p>{{ label }}</p>
</div>
<div class="icon_home_view"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div></a>
</div>