
<a href="{{ url }}"><div class="niticy_inner_box">
<div class="tex_noti">
<p>{{ event_date[0]['value']|date('M d Y') }} - {{ event_date[0]['end_value']|date('M d Y') }}</p>
<p>{{ label }}</p>
</div>
<div class="icon_home_view"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div></a>