<div class="notifi-sec">
<a href="{{ url }}"><div class="niticy_inner_box">
<div class="tex_noti">
<p>{{ content.field_start_date.value|date('M d Y') }} - {{ content.field_start_date.end_value|date('M d Y') }}</p>
<p>{{ label }}</p>
</div>
<div class="icon_home_view"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div></a>
</div>