{% set category = node.field_news_category.0.value %}




   
   <div class="row event-detail" id="event-detail">
                        <div class="col-md-2"></div>
			<div class="col-md-8">
			  <div class="detail">
				<h2>{{ label }}</h2>
				<p>{{ date }} | Category: {{ category }}</p>
				<div>{{ content.body }}</div>
                          </div>
			</div>
			<div class="col-md-2"></div>     
   </div><!-- Row -->
