// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 0px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

// Header
header {
	&.navbar-fixed-top {
		padding-top: 15px;
	}
	.navbar-header {
		padding-rigt: 10px;
		img {
			height: 80px;
		}
	}
	.navbar-collapse {
		.menu {
			&.navbar-nav {
				padding: 0 10px;
			}
		}
	}
}

// Search Box
.search-block-form {
	button {
		&.form-submit {
			background-color: $color-gray;
			border-color: $color-gray;
		}
	}
}

// Simple Page 
.page-node-type-simple-pages {
	.page-header {
		padding: 0 0 10px 0;
    margin: 0px;
		font-size: 26px;
		float: left;
		&:after {
			display: none;
		}
	}
	.main-container {
		padding-bottom: 25px;
	}
}
.main-container {
		padding-bottom: 25px;
	}

// Top Service
.top_right {
	.search-block-form {
		max-width: unset !important;
		float: none;
    width: 100%;
		form {
			.input-group-btn {
				right: 0px !important;
			}
			input {
				border: none !important;
				height: 57px;
			}
			button {
				&.form-submit{
					height: 57px;
					background: #f3c70e;
					color: #000;
					width: 50px;
				}
			}
		}
		
	}
}

// Garage Page
.garage-main-container {
	.garage-content-container {
		position: relative;
		.overlay {
			position: absolute;
			top: 0px;
		}
		.garage-list-view {
			.view-content {
				height: 350px;
				overflow: auto;
			}
		}
	}
}