{% if page.footer %}
  {% block footer %}
    <footer class="footer" role="contentinfo">
		<div class="{{ container }}">
		{{ page.footer }}
		<div class="copyright-container">
		{{ page.copyright }}
		</div>
		</div>
    </footer>
  {% endblock %}
{% endif %}
